FInput{
    border: none;
    height:1;
    padding:0;
}

Prompt{
    layout: horizontal;
}

Prompt Static{
    width: 2;
}

HistoryEntry{
    layout: horizontal;
}

HistoryEntry #text{
    width: 100%;
}
HistoryEntry Static{
    width: 2;
}

HistoryEntry{
    color: green;
}

Prompt *{
    color: green;
}
